
body {
    background-color: #0A1929;
    color: #e0e0e0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}

/* Header and Navbar */
header {
    position: sticky;
    top: 0;
    background-color: #102442;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-title {
    font-size: 1.5rem;
    margin: 0.5rem;
    padding-left: 1rem;
    font-weight: bold;
}

.navbar-sections ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-sections li {
    list-style: none;
}

.navbar-sections li a {
    text-decoration: none;
    color: #ffffff;
    padding: 1rem;
    display: block;
}

.navbar-sections li a:hover {
    color: #C9C9C9;
}

.menu-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.menu-button .bar {
    
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/* Welcome Message */

.welcome-message {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.welcome-message-headers {
    font-size: 1.75rem;
}

/* About Section */
.about-section {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: ". about-section-text .";
    padding: 2rem;
}

.about-section-text {
    grid-area: about-section-text;
}


/* Skills Section */
.skills-section {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: ". skills-section-text .";
    padding: 2rem;
}

.skills-section-text {
    grid-area: skills-section-text;
}

/* Experience Section */
.experience-section {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: ". experience-section-text .";
    padding: 2rem;
}

.experience-section-text {
    grid-area: experience-section-text;
}

.job-experience {
    margin-bottom: 2rem;
}

.job-info {
    display: flex;
    justify-content: space-between;
}

/* Projects Section */
.projects-section {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: ". projects-section-text .";
    padding: 2rem;
}

.projects-section-text {
    grid-area: projects-section-text;
}

/* Footer  */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    left:0;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #07131D;

}

/* Media Queries */
@media (max-width: 768px) {
    .menu-button {
        display: flex;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-sections {
        display: none;
        width: 100%;
    }

    .navbar-sections ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-sections li {
        text-align: center;
    }

    .navbar-sections.active {
        display: flex;
    }
}