/* General Body Styling */
body {
    background-color: #0A1929;
    color: #e0e0e0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}

/* Header and Navbar */
header {
    position: sticky;
    top: 0;
    background-color: #102442;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-title {
    font-size: 1.5rem;
    margin: 0.5rem;
    padding-left: 1rem;
    font-weight: bold;
}

.navbar-sections ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-sections li {
    list-style: none;
}

.navbar-sections li a {
    text-decoration: none;
    color: #ffffff;
    padding: 1rem;
    display: block;
}

.navbar-sections li a:hover {
    color: #C9C9C9;
}

.menu-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.menu-button .bar {
    
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/* Welcome Message */

.welcome-message {
    display: flex;
    flex-direction: column;
    text-indent: 15%;
    margin-top: 6rem;
    max-width: 1440px;
    height: 80vh;
}

.welcome-message-headers {
    font-size: clamp(1.25rem, 5vw, 3rem);
}

.welcome-message-headers h2 {
    margin-bottom: 1rem;
}

/* About Section */
.about-section {
    /*
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: ". about-section-text .";
    padding: 2rem;
    */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    /*
    width: clamp(45ch, 50%, 75ch);
    margin: 0 auto;
    */
}

.about-section h3 {
    font-size: clamp(1.5rem, 3vw, 1.75rem);
}

.about-section p {
    font-size: clamp(1.25rem, 1.25vw, 1.5rem);
    max-width: 60ch;
}


/* Skills Section */
.skills-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.skills-section h3 {
    align-items: flex-start;
    font-size: clamp(1.5rem, 3vw, 1.75rem);
}

.skills-section p {
    font-size: clamp(1.25rem, 1.25vw, 1.5rem);
    max-width: 60ch;
    margin-bottom: 4rem;
}

.skills-section i {
    font-size: 5rem;
}

.skill-icons {
    width: 80%;
    max-width: 1440px;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(5, minmax(5rem, 1fr));
    row-gap: 2rem;
}


/* Experience Section */
.experience-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    max-width: 1440px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.experience-section h3 {
    font-size: clamp(1.75rem, 3vw, 2rem);
}

.job-experience {
    /*
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: max(1rem, 10%);
    */
    display: flex;
    width: 75%;
    gap: 2rem;
    justify-content: space-between;
}

.job-info {
    font-size: clamp(1rem, 2vw, 1.25rem);
    justify-self: start;
}

.job-date {
    font-size: clamp(1rem, 2vw, 1.25rem);
    justify-self: end;
}

.job-position {
    font-style: italic;
}

/* Projects Section */
.projects-section {
    /*
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "projects-section-text .";
    padding: 2rem;
    */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.projects-section h3 {
    align-items: flex-start;
    font-size: clamp(1.5rem, 3vw, 1.75rem);
}

.projects-section p {
    font-size: clamp(1.25rem, 1.25vw, 1.5rem);
    max-width: 60ch;
    margin-bottom: 4rem;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position:absolute;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 6rem;
    background-color: #07131D;

}

/* Media Queries */
@media (max-width: 768px) {
    /* Navbar */
    .menu-button {
        display: flex;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-sections {
        display: none;
        width: 100%;
    }

    .navbar-sections ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-sections li {
        text-align: center;
    }

    .navbar-sections.active {
        display: flex;
    }

    /* Welcome Message */
    .welcome-message {
        display: flex;
        flex-direction: column;
        place-items: center;
        text-indent: 0%;
        height: 60vh;
    }
    
    /* Skills Section */
    .skills-section i {
        font-size: 4rem;
    }

    .skill-icons {
        width: 100%;
        grid-template-columns: repeat(5, minmax(4rem, 1fr));
        row-gap: 2rem;
    }

    /* Experience Section */
    .job-experience {
        width: 100%;
    }

}

/* Media Queries */
@media (max-width: 576px) {
    /* Skills Section */
    .skills-section {
        text-align: center;
    }

    .skills-section i {
        font-size: 4rem;
    }

    .skill-icons {
        width: 100%;
        grid-template-columns: repeat(3, minmax(4rem, 1fr));
        row-gap: 2rem;
    }

    /* Experience Section */
    .experience-section {
        padding: 1rem;
    }

    .job-experience {
        width: 100%;
    }

    .job-info {
        font-size: clamp(1rem, 2vw, 1rem);
        justify-self: start;
    }
    
    .job-date {
        font-size: 1rem;
        justify-self: end;
        text-align: right;
    }
}